{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}

<div class="flex flex-col items-center justify-center min-h-screen bg-white">
	<div class="bg-gray-300 w-full sm:w-3/4 max-w-lg p-12 pb-6 shadow-2xl rounded">
		<div class="text-black pb-4 text-3xl font-semibold">News Arena Corporation</div>
		    <div class="p-1 m-4 ml-1 w-full rounded text-lg font-normal placeholder-gray-300">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

					<button
					type="submit"
					class="inline-block mt-2 bg-teal-500 hover:bg-teal-700 
							focus:bg-teal-800 px-6 py-2 rounded text-white shadow-lg"
					>
						Login
					</button>
                </form>
            </div>
		<div class="pt-10 flex items-center justify-between">
			<a
				href="#1"
				class="inline-block text-blue-700 hover:text-blue-900 align-baseline font-normal text-base"
			>
				Forgot password?
			</a>
			<a href="#2" class="inline-block text-blue-700 hover:text-blue-900 font-normal text-base">
				Create an Account
			</a>
		</div>
	</div>
</div>
{% endblock content %}